@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>
<p>User Assigned MI Token: @ViewBag.AccessToken1</p>
<p>System Assigned MI Token: @ViewBag.AccessToken2</p>
<p>Registered App SP Token: @ViewBag.AccessToken3</p>

<p>Errors: @ViewBag.Error</p>

<p>Databases: @ViewBag.Databases</p>